.button {
    font-size: 1em;
    line-height: 2em;
    width: 100%;
    background: #A40C0C;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: auto;
    display: block;
    box-shadow: 0px 1px 5px 1px #555;
    transition: .7s all;
    font-family: 'Maven Pro', sans-serif;
}

.button:hover {
    background: #343434
}

@media screen and(max-width: 1024px) {
    .button {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}