.form {
    background: rgba(52, 52, 52, .75);
    border-radius: 8px;
    box-shadow: 0px 1px 5px 1px #555;
    margin-bottom: 1em;
}

.form-header {
    margin-bottom: .5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5em;
    color: white;
    background-color: rgba(164, 12, 12, .95);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Maven Pro', sans-serif;
}

.form-body {
    padding-bottom: .5em;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1024px) {
    .form {
        margin-bottom: 0em;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}